@keyframes animacion1{
    from{background-color: red;}
    to{background-color: aquamarine;}
}


.animacion1{
    width: 100px;
    height: 100px;
    background-color: red;
    animation-name: animacion1;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}

@keyframes animacion2{
0%{background-color: red;}
16%{background-color: aqua;}
32%{background-color: yellowgreen;}
48%{background-color: violet;}
64%{background-color: blue;}
80%{background-color: brown;}
96%{background-color: red;}
    

}
.animacion2{
    width: 100px;
    height: 100px;
    background-color: red;
    animation-delay: 8s;
    animation-name: animacion2;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}

@keyframes animacion3{

        
0%{background-color: red; left:0px; top:0px;}
16%{background-color: aqua; left:200px; top:0px;}
32%{background-color: yellowgreen; left:200px; top:0px;}
48%{background-color: violet; left:200px; top:200px;}
64%{background-color: blue; left:0px; top:200px;}
80%{background-color: brown; left:0px; top:200px;}
96%{background-color: red; left:0px; top:0px;}
    
    }
    .animacion3{
        width: 100px;
    height: 100px;
    background-color: red;
        animation-delay: 16s;
        position: relative;
        animation-name: animacion3;
        animation-duration: 8s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }

    .transaciones1{
        width: 100px;
        height: 100px;
        animation: animacion2 10s infinite;
        transition: width 2s, height 4s;
      }
      
      .transaciones1:hover {
        width: 300px;
        height: 300px;
      }

      #div1{
        background-color: cornflowerblue;
        width: 400px;
     
      }


      #art1,
      #art2,
      #art3,
      #art4,
      #art5 {
        width: 100px;
        height: 100px;
        animation: animacion2 10s infinite;
        transition: width 2s;
      }
      

      #art1 {transition-timing-function: linear;}
      #art2 {transition-timing-function: ease;}
      #art3 {transition-timing-function: ease-in;}
      #art4 {transition-timing-function: ease-out;}
      #art5 {transition-timing-function: ease-in-out;}
      
      #art1:hover {
        width: 300px;
      }
      #art2:hover {
        width: 300px;
      }
      #art3:hover {
        width: 300px;
      }
      #art4:hover {
        width: 300px;
      }
      #art5:hover {
        width: 300px;
      }
      


      #art6 {
        animation: animacion2 10s infinite;
        width: 100px;
        height: 100px;
        transition: width 2s, height 2s, transform 2s;
      }
      
      #art6:hover {
        width: 300px;
        height: 300px;
        transform: rotate(180deg);  
      }

      #art7 {
        width: 100px;
        height: 100px;
        animation: animacion2 10s infinite;
        transition: width 2s linear 1s;
      }

      #art7:hover {
        width: 300px;
      }

      #art8 {
        animation: animacion2 10s infinite;
        width: 100px;
        height: 100px;
        transition: width 2s linear 1s, height 2s, transform 2s;
      }
      
      #art8:hover {
        width: 300px;
        height: 300px;
        transform: rotate(180deg);  
      }